.fundoLogin {
    background-image: url('https://i.imgur.com/7uLWkVt.jpg');
    min-height: 100vh;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.textos {
    font-weight: bold !important;
}

.text-decorator-none {
    text-decoration: none;
}

.logar {
    color: #93968d !important;
    font-weight: bold !important;
}

.logar:hover {
    background-color: #4b4d47 !important;
    color: white !important;
    font-weight: bold !important;
}

.cad-link {
    text-decoration: none;
    color: #4d4b47 !important;
}

.cad-link:hover {
    text-decoration: none;
    color: #4d4b47;
}