.fundoLogin2 {
    background-image: url('https://i.imgur.com/903UMqb.jpg');
    min-height: 100vh;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.botao {
    background-color: #93968d !important;
}

.botao:hover {
    background-color: #4b4d47 !important;
    color: white !important;
}