.redes-bg{
    background-color: #4b4d47 !important;
}

.redes{
    font-size: 35px !important;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 5px;
}

.texto {
    color: #fff;    
}

.chamada {
    color: #fff;
    font-size: 20px !important;
}

