.imagem2 {
    background-image: url('https://i.imgur.com/VffmtMx.jpg');
    min-height: 100vh;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.textos2 {
    font-weight: bold !important;
}

.btnCancelar {
    margin-right: 20px !important;
    color: white!important;
    background-color: #4d4b47 !important;
}

.btnCadastrar {
    margin-right: 20px !important;
    color: white !important;
    background-color: #4d4b47 !important;
}